{sub_dirs, ["rel"]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{plugins, [rebar_lock_deps_plugin]}.
{deps, [
    {rebar_lock_deps_plugin, ".*", {git, "git://github.com/seth/rebar_lock_deps_plugin.git", {tag, "3.1.0"}}},
    {meck, ".*",  {git, "git://github.com/eproxus/meck.git", {tag, "0.8.2"}}},
    {ibrowse, ".*", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.1.2"}}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.3"}}}
]}.
